---
const currentYear = new Date().getFullYear()

const links = [
  { href: 'https://github.com/rigottig', name: 'GitHub' },
  { href: 'https://linkedin.com/in/rigottig', name: 'LinkedIn' },
  { href: '/rss.xml', name: 'RSS' },
  { href: 'mailto:ggrigoti@gmail.com', name: 'Email' },
]
---

<footer
  class='mt-12 border-t border-neutral-300 pt-6 transition-colors dark:border-neutral-800'
>
  <div
    class='flex flex-col gap-4 sm:flex-row sm:items-center sm:justify-between'
  >
    <!-- Links -->
    <div class='flex items-center gap-4'>
      {
        links.map((link) => (
          <a
            class='text-sm text-neutral-600 transition-colors hover:text-green-600 dark:text-neutral-500 dark:hover:text-green-400'
            href={link.href}
            rel={
              link.href.startsWith('mailto') ? undefined : 'noopener noreferrer'
            }
            target={link.href.startsWith('mailto') ? undefined : '_blank'}
          >
            {link.name}
          </a>
        ))
      }
    </div>

    <!-- Status & Copyright -->
    <div
      class='flex items-center gap-4 text-sm text-neutral-700 dark:text-neutral-600'
    >
      <span class='flex items-center gap-2'>
        <span
          class='h-2 w-2 animate-pulse rounded-full bg-green-600 dark:bg-green-500'
        ></span>
        Available
      </span>
      <span>© {currentYear}</span>
    </div>
  </div>
</footer>
